body{
    background-color: lightgray;
}


/* navigation bar adjustments */
.navbar-brand{
    margin-left: 2rem;
}

.navbar-nav{ 
    margin: auto;
}

@media (max-width: 767px){
    .navbar-brand{
        margin: auto;
    }
    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        margin: 0 .5rem;
    }
    
}






/* About me card adjustments */

#about-me{
    width: 50%;
    position: absolute;
}

#prog-img{
    width: 20%;
    float:left;
    margin: 0 1rem 0rem .25rem;
    
}


@media (max-width: 767px){
    #prog-img{
        margin: auto;
    }
}



@media (max-width: 767px){
    #about-me{
        width: auto;
        margin: auto;
        position: relative;
    }
}

/* footer */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: darkgray;
    color: white;
}