body{
    background-color: lightgray;
}


/* navigation bar adjustments */
.navbar-brand{
    margin-left: 2rem;
}

.navbar-nav{ 
    margin: auto;
}

@media (max-width: 767px){
    .navbar-brand{
        margin: auto;
    }
    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        margin: 0 .5rem;
    }
    
}

/* portfolio image adjustments */

#prog-img{
    width: 20%;
}
