.navbar-nav{ 
    margin: auto;
}

@media (max-width: 767px){
    .navbar-brand{
        margin: auto;
    }
    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        margin: 0 .5rem;
    }
    
}