#portfolio-content{
    margin-top: 1.5rem;
}

#port-cards{
    margin: 10px;
    background-color: lightgray;
    border-style: groove;
    margin-top: auto;
    margin-bottom: 3rem;
    
}

#port-row{
    margin: auto;
}

#weather, #password, #traveler, #quizNotes{
    width: 50%;
    border-radius: 20%;
}

@media (max-width: 767px){
    #port-cards{
        margin-bottom: 2rem;
    }
}
