#portfolio-content{
    margin-top: 1.5rem;
}

#port-cards{
    margin: 10px;
    background-color: lightgray;
    border-style: none;
    margin-top: auto;
}

#port-row{
    margin: auto;
}

#portfolio-img{
    width: 100%;
    border-radius: 20%;
}

@media (max-width: 767px){
    #port-cards{
        margin-bottom: 2rem;
    }
}
